version: '3.8'

services:
  web:
    build: .
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      # Se houver um serviço de banco de dados rodando localmente (ex: postgres), ele iria aqui.
      # Como usamos Oracle Cloud, ele é externo.
      # Para o Django, ele depende do TNS_ADMIN e .env estarem configurados.
      [] 