name: Deploy Frontend to Firebase Hosting (Production)

on:
  workflow_run:
    workflows: ["Release"]
    types:
      - completed

jobs:
  build_and_deploy_production:
    # Only run this job if the Release workflow was successful
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout GestaoRPD Repository
        uses: actions/checkout@v3
        with:
          # Checkout the same commit that the "Release" workflow ran on
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: 2. Checkout Shared Assets Repository
        uses: actions/checkout@v3
        with:
          repository: CidQueiroz/cdkteck-assets
          token: ${{ secrets.ASSETS_REPO_TOKEN }}
          path: ./.temp-assets

      - name: NEW - Checkout cdkteck-ui Repository
        uses: actions/checkout@v3
        with:
          repository: CidQueiroz/cdkteck-ui
          path: cdkteck-ui
          token: ${{ secrets.ASSETS_REPO_TOKEN }} # Assuming same token can be used

      - name: 3. Copy Shared Assets to Public Folder
        run: |
          echo "Copying shared assets..."
          mkdir -p public/assets
          mkdir -p public/components
          cp -r ./.temp-assets/* public/
          echo "Assets copied successfully."
          ls -R public/

      - name: 4. Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: 5. Install Dependencies
        run: npm install
        working-directory: ./frontend
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_PAT }}

      - name: 6. Build Project
        run: npm run build
        working-directory: ./frontend

      - name: 7. Deploy to Firebase Production
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_CDKTECK_HUB }}'
          projectId: cdkteck-hub
          target: gestaorpd-app
          channelId: live
