name: Deploy Frontend to Firebase Hosting (Production)

on:
  workflow_run:
    workflows: ["Release"]
    types:
      - completed

jobs:
  build_and_deploy_production:
    # Only run this job if the Release workflow was successful
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout GestaoRPD Repository
        uses: actions/checkout@v4
        with:
          # Checkout the same commit that the "Release" workflow ran on
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: 2. Download Build Artifact from Release Workflow
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: release.yml
          name: dist
          path: frontend/dist
          run_id: ${{ github.event.workflow_run.id }}

      - name: 3. Deploy to Firebase Production
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_CDKTECK_HUB }}'
          projectId: cdkteck-hub
          target: gestaorpd-app
          channelId: live
          # cwd: frontend
