name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Checkout cdkteck-ui Repository
        uses: actions/checkout@v4
        with:
          repository: CidQueiroz/cdkteck-ui
          path: cdkteck-ui
          token: ${{ secrets.GH_PAT }} 
          
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: ./frontend
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_PAT }}

      - name: Run Frontend Build Check
        run: npm run build
        working-directory: ./frontend

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: frontend/dist

      # - name: Run Backend Docker Build Check
      #   run: docker build -f Dockerfile .
      #   working-directory: ./backend
        
      - name: Run semantic-release
        run: npx semantic-release
        working-directory: ./frontend
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
